@tailwind base;
@tailwind components;
@tailwind utilities;

.color {
  border-radius: 30px;
  border-color: #dbd5d5;
  border-width: 1px;
}

.navbar {
  height: 100px;
  transition: height 0.3s ease;
}

.navbar.small {
  height: 50px;
}

.navbar.large {
  height: 100px;
}

.modal {
  position: fixed;
  top: 100px; /* Adjust based on your navbar height */
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
}
